.document {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 0 2rem;
	box-sizing: border-box;
	min-height: calc(100vh - 204px);
	min-width: 770px;
	background-color: rgb(255, 245, 255);
}

.subnav {
	display: flex;
	flex-flow: row-reverse;
	margin-top: 12px;
	padding: 0 2rem;
}