.btn_search {
	position: absolute;
	left: calc(50% - 85px);
	top: 32px;
	width: 170px;
	border: 1px solid rgb(106, 105, 105);
	z-index: 1000;
	padding: 10px;
	text-transform: uppercase;
	background-color: #fefefeb2;
	cursor: pointer;
}