.imagesBlock {
	grid-area: imagesList;
	width: 100%;
	margin-top: 32px;
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	
	column-gap: 30px;
	row-gap: 30px;

	@media screen and (max-width: 1240px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media screen and (max-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: auto;
	}

	.empty {
		width: 100%;
		text-align: center;
	}
}
