.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: brown;
	color: #fff;
	padding: 0 10px;
	margin-bottom: 10px;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}

	&__title {
		max-width: 120px;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	&__user {
		display: flex;
		align-items: center;
	}

	&__date {
		color: #ccc;
		font-size: 12px;
		margin: 0;
	}

	&__avatar {
		display: flex;
		object-fit: cover;
		color: #fff;
		background-color: #fff;
		border-radius: 50%;
		margin-right: 20px;
	}
}

.card {
	background-color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	&__img {
		object-fit: contain;
		width: 100%;
		cursor: pointer;
	}

	&__date {
		margin: 0;
		padding: 10px;
		text-align: end;
		color: rgb(82, 81, 81);
	}

	&__info {
		padding: 10px;
		height: 55px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__like_block {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	&__like {
		cursor: pointer;
	}

	&__remove {
		box-sizing: border-box;
		cursor: pointer;
		border: 1px solid rgb(253, 183, 195);
		background-color: rgb(253, 243, 245);
		border-radius: 5px;
		padding: 20px;
		width: 32px;
		height: 32px;
		background-image: url("/trash.ico");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}
