.header {
	box-sizing: border-box;
	margin-top: 12px;
	padding: 32px;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: rgb(144, 37, 37);
	border-radius: 10px;

	&__content {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;

		@media screen and (max-width: 668px) {
			gap: 0;
			display: flex;
			flex-direction: column;
			width: 100%;
		}
	}

	&__avatarWrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__avatarPreview {
		border-radius: 50%;
		object-fit: cover;
		aspect-ratio: 1 / 1;
		min-width: 196px;
		padding: 1px;
		border: 2px solid #ccc;
	}

	&__avatar {
		background-color: rgb(252, 252, 252);
		padding: 24px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		min-width: 196px;
	}

	&__inputFile {
		display: none;
	}

	&__uploadWrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__upload {
		cursor: pointer;
		padding: 5px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 12px;
		padding: 0 30px;
		color: #fff;
	}

	&__details {
		margin: 0;
	}

	&__message {
		cursor: pointer;
		padding: 6px 12px;
	}
}
