.document {
	box-sizing: border-box;
	display: grid;
	grid-template-areas:
		"fileUploadForm"
		"imagesList";
	grid-template-rows: 400px 1fr;
}

.formContainer {
	grid-area: fileUploadForm;
	display: flex;
}
