.document {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 700px;
	width: 100%;
}

.map_container {
	margin-top: 12px;
	height: 50vh;
}

.map_section {
	padding-bottom: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	text-align: center;
}

.backWrapper {
	width: 100%;
}

.grid_container {
	min-width: 700px;
	margin-top: 12px;
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, 1fr));
	column-gap: 30px;
	row-gap: 30px;
}

@media screen and (max-width: 1240px) {
	.grid_container {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 992px) {
	.grid_container {
		grid-template-columns: repeat(2, 1fr);
	}
}

.btn {
	cursor: pointer;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	padding: 10px 20px;
}
